################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpSelFramework/obj/Debug/net7.0/POCOnTFLWidget.assets.cache
*.vsidx
/CSharpSelFramework/obj/Debug/net7.0/POCOnTFLWidget.GeneratedMSBuildEditorConfig.editorconfig
*.testlog
*.manifest
*.lock
*.cs
*.cache
/.vs/slnx.sqlite
*.editorconfig
/.vs/tfl_Mohana_poc/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/tfl_Mohana_poc/FileContentIndex/1bd80c4f-edf7-40e4-8a9f-4b0ce82dfa9d.vsidx
